---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: autoapply-controller-role
rules:
  # AutoApply resources
  - apiGroups:
      - autoapply.io
    resources:
      - autoapplies
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - autoapply.io
    resources:
      - autoapplies/status
    verbs:
      - get
      - patch
      - update
  - apiGroups:
      - autoapply.io
    resources:
      - autoapplies/finalizers
    verbs:
      - update
  # ConfigMaps for manifest sources
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  # Wide permissions for applying arbitrary resources
  # In production, you may want to scope this down
  - apiGroups:
      - "*"
    resources:
      - "*"
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch

